<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- ここにマイセットの画像を表示 -->
      <img src="https://via.placeholder.com/300x300" alt="マイセット画像" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2><%= @myset.name %></h2>
      <table class="table">
        <thead>
          <tr>
            <th>食品名</th>
            <th>分量</th>
          </tr>
        </thead>
        <tbody>
          <% @myset.myset_foods.each do |myset_food| %>
            <tr>
              <td><%= myset_food.food.name %></td>
              <td><%= myset_food.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
