<div class="about-background">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 about-container">
        <h1 class="text-center mb-4">EAGYアプリについて</h1>
        <h3>概要</h3>
        <p>
          ダイエット・ボディメイクにおいて食事管理は筋力トレーニング以上に大切な要素です。</p>
        <p>EAGYは、1日の必要エネルギー量と摂取した栄養素を見える化することで、あなたの身体づくりサポートするアプリケーションです。</p>

        <h3>使い方</h3>
        <ol>
          <li>アカウントを作成し、ログインします。</li>
          <li>ユーザープロファイルページで身長、体重、年齢、性別、活動レベルを入力して、1日の必要エネルギー量を計算します。</li>
          <li>カレンダーから記録したい日付を選択し、摂取した食品とその量を記録します。摂取した栄養素が自動的に計算されます。</li>
          <li>1日の必要エネルギー量と摂取した栄養素を比較表示し、バランスの良い食生活を目指します。</li>
        </ol>

        <p>あなたの健康と栄養状態を改善するために、EAGYを活用しましょう！</p>
      </div>
    </div>
  </div>
</div>